# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Environment variables
.env

# macOS
.DS_Store

# === Swift/Xcode ===
build/
DerivedData/
*.xcworkspace
*.xcuserstate

# Xcode settings
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev
